<% provide(:title, "ロギングデータ") %>
<div class="d-flex justify-content-end">
  <%= form_with(url: log_path(@machine), method: :get, local: true, class: "mb-3") do |f| %>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <%= f.date_field :date, value: params[:date], class: "form-control form-control-sm" %>
      </div>
      <div class="col-auto">
        <%= f.submit "表示", name: nil, class: "btn btn-sm btn-outline-secondary" %>
      </div>
    </div>
  <% end %>
</div>
<% if @logs[1] %>
  <%= render :partial => "logs" %>
<% else %>
  <%= render :partial => "nolog" %>
<% end %>

